

body {
  margin:40px;
}

//div {
//  display:inline-block;
//  margin-left:20px;
//}

#pear {
	position:relative;
	width:6em;
	height:6em;
	margin-top:1em;
	background-color:#D1E233;
	border-radius:50% 15% 50% 50%;
	transform:rotate(-45deg);
	
}
#pear:after {
	content:'';
	position:absolute;
	top:0em;
	left:5.75em;
	height:1.25em;
	width:1em;
	background-color:transparent;
	border-radius:50% 0;
	box-shadow:-.25em 0 0 brown;
	transform:rotate(45deg);
}